<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Миракин Даниил. Лабораторна работа 2</title>
</head>
<body>
    <header>
        НГТУ, ФБ, WEB-программирование, часть 2. Список лабораторных 
    </header>

    <main>
        Основа текст
    </main>

    <footer>    
        &copy; <p>Студент: {{name}} </p>
        Группа: {{group}}
        Курс: {{course}}
        Год: {{year}}
    </footer>
    
</body>
</html>