{% extends "base.html" %}

{% block lab %}Перевод средств выполнен успешно{% endblock %}

{% block main %}
<style>
    body {
        background-color: #595379;
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #28a745;
        text-align: center;
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    .success-message {
        width: 50%;
        margin: 20px auto;
        padding: 20px;
        background-color: #595379;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        text-align: center;
    }

    .success-message p {
        font-size: 18px;
        margin: 10px 0;
        color: #595379;
    }

    .success-message a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #595379;
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
    }

    .success-message a:hover {
        background-color: #595379;
    }

    .success-message a:active {
        background-color: #595379;
    }
</style>

<h1>Перевод средств выполнен успешно</h1>

<div class="success-message">
    <p><strong>Сумма перевода:</strong> {{ amount }} руб.</p>
    <p><strong>Получатель:</strong> {{ receiver_login }}</p>
    <a class="a1" href="/rgz/account">Профиль</a>
</div>
{% endblock %}
