{% extends "base2.html" %}

{% block title %}Перевод денег{% endblock %}

{% block main %}
    <h1>Перевод денег</h1>
    <form id="transfer-form" method="post">
        <label for="receiver_account_number">Номер счёта получателя:</label>
        <input type="text" id="receiver_account_number" name="receiver_account_number" required>
        <label for="amount">Сумма:</label>
        <input type="number" id="amount" name="amount" required>
        <button type="submit">Перевести</button>
    </form>
{% endblock %}