{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Список статей</h1>
    <a href="/lab8/create_article">Создать новую статью</a>
    <ul>
        {% for article in articles %}
            <li>
                <strong>{{ article.title }}</strong><br>
                {{ article.article_text[:50] }}...<br>
                {% if article.is_public %}
                    <span style="color: green;">Опубликовано</span>
                {% else %}
                    <span style="color: red;">Не опубликовано</span>
                {% endif %}
                <br>
                <a href="/lab8/edit_article/{{ article.id }}">Редактировать</a>
                <form action="/lab8/delete_article/{{ article.id }}" method="post" style="display:inline;">
                    <button type="submit">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}