{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}
{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='lab8/style.css') }}">{% endblock %}

{% block main %}
    <style>
        body {
            background-color: #f0f8ff; /* Светло-голубой цвет */
        }

        .links-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        table {
            border-collapse: collapse;
            width: 60%;
            background-color: rgb(156, 209, 209);
            text-align: center;
            font-size: 18px;
            border-radius: 10px;
            overflow: hidden;
        }

        th, td {
            padding: 15px;
            border: 1px solid white;
        }

        th {
            background-color: #4a919e;
            color: white;
        }

        .link-btn {
            display: inline-block;
            padding: 8px 15px;
            background-color: antiquewhite;
            text-decoration: none;
            border-radius: 15px;
            transition: 0.3s;
        }

        .link-btn:hover {
            background-color: #f4e1c1;
        }
    </style>

    <div class="links-container">
        <table>
            <tr>
                <th>Действие</th>
                <th>Ссылка</th>
            </tr>
            <tr>
                <td>Список статей</td>
                <td><a class="link-btn" href="/lab8/articles/">Перейти</a></td>
            </tr>
            <tr>
                <td>Публичные статьи</td>
                <td><a class="link-btn" href="/lab8/public_articles/">Перейти</a></td>
            </tr>
            <tr>
                <td>Поиск статей</td>
                <td><a class="link-btn" href="/lab8/search_articles/">Перейти</a></td>
            </tr>
            {% if current_user.is_authenticated %}
                <tr>
                    <td>Создать статью</td>
                    <td><a class="link-btn" href="/lab8/create_article">Перейти</a></td>
                </tr>
                <tr>
                    <td>Выход</td>
                    <td><a class="link-btn" href="/lab8/logout">Перейти</a></td>
                </tr>
            {% else %}
                <tr>
                    <td>Вход</td>
                    <td><a class="link-btn" href="/lab8/login">Перейти</a></td>
                </tr>
                <tr>
                    <td>Регистрация</td>
                    <td><a class="link-btn" href="/lab8/register/">Перейти</a></td>
                </tr>
            {% endif %}
            <tr>
                <td>Пользователь</td>
                <td>{{ current_user.login or "Аноним" }}</td>
            </tr>
        </table>
    </div>
{% endblock %}